  version: '3.8'

  services:
    php:
      build:
        context: ./php
      container_name: ${COMPOSE_PROJECT_NAME}_php
      environment:
        - PROJECT_NAME=${PROJECT_NAME}
        - XDEBUG=${XDEBUG:-false}
      volumes:
        - ./src:/var/www/html
      depends_on:
        db:
          condition: service_healthy
      networks:
        - app-network

    nginx:
      build:
        context: ./nginx
      container_name: ${COMPOSE_PROJECT_NAME}_nginx
      ports:
        - "80:80"
        - "443:443"
      volumes:
        - ./src:/var/www/html
        - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        - ./nginx/ssl:/etc/nginx/ssl:ro
      depends_on:
        - php
      networks:
        - app-network

    db:
      image: mariadb:10.11
      container_name: ${COMPOSE_PROJECT_NAME}_db
      restart: unless-stopped
      healthcheck:
        test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
        interval: 10s
        timeout: 5s
        retries: 5
      ports:
        - "13306:3306"
      environment:
        MYSQL_DATABASE: ${PROJECT_NAME}
        MYSQL_ROOT_PASSWORD: p455w0rd
      volumes:
        - ./db/conf.d:/etc/mysql/conf.d
        - ./db/data:/var/lib/mysql
      networks:
        - app-network

    n8n:
      image: n8nio/n8n:latest
      container_name: ${COMPOSE_PROJECT_NAME}_n8n
      restart: unless-stopped
      ports:
        - "5678:5678"
      environment:
        - TZ=Asia/Jakarta

        # AUTH
        - N8N_BASIC_AUTH_ACTIVE=true
        - N8N_BASIC_AUTH_USER=admin
        - N8N_BASIC_AUTH_PASSWORD=admin123

        # COOKIE FIX (INI KUNCINYA)
        - N8N_SECURE_COOKIE=false

        # HOST
        - N8N_HOST=localhost
        - N8N_PORT=5678
        - N8N_PROTOCOL=http
        - WEBHOOK_URL=http://localhost:5678/

        # DATA
        - N8N_USER_FOLDER=/home/node/.n8n
      volumes:
        - ./n8n/data:/home/node/.n8n
      networks:
        - app-network

  networks:
    app-network:
      driver: bridge
